body{
    background-image: url('../public/BG.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: "Nunito", sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    
}

.login{
    margin-top: 2%;
    margin-left: 90%;
}

.errorMessage{
    border-radius: 20px;
    border: 1px solid red;
    color: red;
}